body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-image: url("../img/swirl_pattern.png");
}

.jumbotron {
  text-align: center;
  background-color: #FF7471;
  color: white;
  padding-top: 15px;
}

.jumbotron p{
  font-size: 16px;
  color: #7F3A39;
}

#highlight:hover {
  color: white;
  cursor: pointer;
}

a {
  color: #7F3A39;
  cursor: pointer;
  cursor: pointer;
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

form {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: #FF7471;
}

#receipt{
  display: none;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}

#pizzaReceipt {
  float: left;
}

img {
  float:right;
}

#pickUp {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #FF7471;
}
